
div section .div1{
	width: 35%;
	height: 100%;
	float: left;
	padding: 2%;
	background: #EAF2F8;
	opacity: 0.8; 

}

div section .div1 h1{
	font-family: calibri;
	font-size: 20px;
}

div section .div1 h2{
	font-family: calibri;
	font-size: 20px;
}

.div1 img{
	width: 100%;
	border-radius: 3%;
}

div section .div1 p{
	font-family: calibri;
	font-size: 20px;

} 


.div2{
	width: 35%;
	height: 100%;
	float: left;
	padding: 2%;
	background: #EAF2F8;
	opacity: 0.8; 

}		

div section .div2 h1{
	text-align: center;
	font-family: 'Tilt Warp', cursive;
	font-size: 55px;
}

div section .div2 h2{
	text-align: center;
	font-family: 'Tilt Warp', cursive;
	font-size: 74px;
}

div section .div2 h3{
	text-align: center;
	font-family: calibri;
	font-size: 22px;
}

div section .div2 p{
	font-family: calibri;
	font-weight: bold;
	font-size: 20px;
}

div section .div2 h4{
	text-align: left;
	font-family: calibri;
	font-size: 18px;
}

/*<article>
					<h1>Maricel Nair RISCKIARY</h1>
					<h2>Licenciada en Diseño Gráfico / Fotógrafa</h2>
				<img src="images/MaricelNair.jpg" alt="Imagen de Maricel enbarazada de Elian">
			</div>
			<div class="div2">
				<article>
					<h1>Maricel Nair RISCKIARY</h1>
					<h2>Licenciada en Diseño Gráfico / Fotógrafa</h2>
				<img src="images/MaricelNair.jpg" alt="Imagen de Maricel enbarazada de Elian">
			</div>
			</article>
		</section>
	</div>