*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html{

/*	border: 2px solid blue;*/
	min-height: 100vh;
}

body{
	background: #559e9e;
/*	border: 2px solid red; */
	display: grid;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;

}

